@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900,400,500;1,500&display=swap');

*  {
    font-family:"monteserrat",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.5rem 6.25rem;
    gap: 1rem   
}

.container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2.5rem 6.25rem;
}

.link-header {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color:#989d9c ;
    cursor: pointer;
    margin-right: 1.4375rem;
}

.logo-image {
    width: 10rem;
    height: 2.5rem;
}

.button-header  {
    background: #665AE1;
    border-radius: 1.28125rem ;
    width:8.125rem;
    height: 2.5625rem;
    border: none;
    font-weight:lighter;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: #ffffff;
    cursor: pointer;
}

.div-2 {
    display: block;
    gap: 3rem;
}

h1  {
    width: 100%;
    Height: auto;
    font-weight: 900;
    font-size: 6.25rem;
    color: #515252;
}

h2 {
    font-weight: 500;
    font-size: 3.625rem;
    line-height: 4.4375rem;
    color: #515252;
    width: 100%;
}

p {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    color: #848484;
    width: 100%;
    margin-bottom:4.0625rem ;
    margin-top:1rem;
}


.button-main {
    background:#ADFF00;
    border-radius: 1.875rem;
    width: 100%;
    height: 4rem;
    border:none;
    cursor: pointer;
    filter: drop-shadow(0.5rem 0.25rem 0.25rem rgba(0,0,0,0.25));
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.125rem;
    color: #000000;
}

div {
    float: none;
}

img {
    width:40%;
    height:10%;
    margin-left: 6rem;
}


@media (max-width: 768px) {

    .link-header {
        font-size: 1.25rem;
        margin-right: 0;
    }

    .button-header {
        width: 40%;
        margin: 0 auto;
    }

    section {
        margin: 0rem 1rem;
        padding-left: 0;
    }

    h1 {
        font-size: 3.5rem;
        line-height: 4.25rem;
        width: 100%;
        text-align: center;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 3rem;
        text-align: center;
    }

    p {
        font-size: 1.25rem;
        line-height: 1.5rem;
        width: 100%;
        text-align: center;
    }


    .button-main {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    img {
        display: flex;
        flex-direction: column;
    }
}